// Fonts
$sans-serif: brandon-grotesque, sans-serif;
$mono: 'Courier New', courier, monospace;

$nav-link-font: $sans-serif;
$body-font: $mono;

// Colors
$green: #a2ac8c;
$brown: #8f7661;
$orange: #d88474;
$gray: #535555;
$cream: #ede6d6;
$cream-light: #f4f0ea;

$nav-link-color: $gray;
$nav-link-active-color: $green;

%headings {
    font-family: $nav-link-font;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

%nav-links {
    color: $nav-link-color;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

    &:hover,
    &:focus {
        color: $nav-link-active-color;
        text-decoration: none;
    }

    &.nuxt-link-exact-active {
        color: $nav-link-active-color;

        &:hover,
        &:focus {
            color: dakren($nav-link-active-color, 10%);
        }
    }
}

%hamburger {
  display: block;
  width: 100%;
  height: .2em;
  background-color: $gray;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
